
<!--商品詳細ページ-->
<div class="col-md-10 col-md-offset-1 mx-auto postShow-wrap">
  <div class="row post-wrap">
    <div class="col-md-8">
      <div class="card-left">
        <p>テスト</p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card-right">
        <div class="card-right-comment">
          <div class="card-right-name">
           <p>テスト</p>
          </div>
          <div class="m-2">
           <p>テスト</p>
          </div>
          <div class="comment-post-id">
            <div class="m-2">
            </div>
          </div>
        </div>
        <div class="row parts">
        </div>
        <div class="post-time"><p>テスト</p></div>
        <hr>
      </div>
    </div>
  </div>
</div>
<!--商品詳細ページ-->