<thead style="background-image: linear-gradient(-45deg, #C6E6FB 15%, #fff 15%, #fff 25%, #C6E6FB 25%, #C6E6FB 65%, #fff 65%, #fff 75%, #C6E6FB 75%, #C6E6FB">
  <tr>
    <th>商品名</th>
    <th>単価（税込）</th>
    <th>数量</th>
    <th>小計</th>
  </tr>
</thead>
<% cart_items.each do |cart_item| %>
  <tbody>
    <tr>
      <td><%= cart_item.item.item %></td>
      <% item_price= cart_item.item.price*1.1 %>
      <td><%= item_price.round.to_s(:delimited)%></td>
      <td><%= cart_item.quantity.round %></td>
      <td><%= cart_item.cart_items_price.round.to_s(:delimited) %></td>
    </tr>
  </tbody>
<% end %>