<div class= "container ">
  <div class= "row py-3">
    <h5 class= "col-3 text-center p-3 mb-2 bg-light text-dark">注文情報確認</h5>
  </div>
</div>

<div class= "d-flex container">
  <div class= "row">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価（税込）</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order.each do |order| %>
          <tr>
            <td><%= order.item %></td>
            <td>test</td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>
