<div class= "container ">
  <div class= "row py-3">
    <h5 class= "col-3 text-center p-3 mb-2 bg-light text-dark">注文情報</h5>
  </div>
</div>

<table class="offset-1 table table-bordered">
  <tbody>
    <tr>
      <th>注文日</th>
      <td><%= @order.update_at.strftime('%Y/%m/%d') %>
    </tr>
    <tr>
      <th>配送先</th>
      <td><%= @order.address %></td>
    </tr>
    <tr>
      <th>支払い方法</th>
      <td><%= @order.payment_method %></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td><%= @order.statuses_i18n.invert %></td>
    </tr>
  </tbody>
</table>