    <table>
	     <tbody>
          <% genres.each do |genre| %>
	  	   	<tr>

            <td><%= link_to genreitems_path(genre) do %><%= genre.genre_name %><% end %></td>
	  	  	</tr>
  	  	  <% end %>
  	  	</tbody>
     </table>
