<!--サイドバー-->
 <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
	    ジャンル検索
            </ul>
          </div>
        </div>
        <div class="span9">

        </div>
      </div>
<!--サイドバー-->

<!--本文-->
<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <p>ようこそ、ながのCAKEへ！<br>
         このサイトは、ケーキ販売のECサイトになります。<br>
         会員でない方も商品の閲覧はできますが、<br>
         購入には会員登録が必要になります。</p>
    </div>
  </div>
</div>
<!--本文-->