
<div class='container'>
   <div class='row'>
 
 <div class='col-md-8 offset-md-4'>
      <h2>商品一覧（全<#%= @items.count %>件</h2>

<table class='table table-hover table-inverse'>
  <thead>

  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= link_to admin_item_path(item.id) do %>
          <%= attachment_image_tag item, :image, :fill, 120, 120 %>
          <% end %>
        </td>

        <td><%= link_to name, admin_item_path(item.id) %></td>
        <td><%= number_to_currency(item.price, :unit => "￥") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
  </div>

<#%= paginate @posts %>


