



本当に退会しますか？

退会すると、会員登録情報やこれまでの購入履歴が閲覧できなくなります。退会する場合は、「退会する」をクリックしてください。

<!-- <td>%= link_to "退会しない"#, edit_book_path(@book), class:"btn btn-success"%></td>
 <td>%= link_to "退会する"#, book_path(@book), method: :delete, data: {confirm: "本当に消しますか？"}, class:"btn btn-danger" %></td>-->
 
